.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*
*/

.boardInpt{
	padding-left:0;
}
.boardBtn{
	padding:0;
}

.board-cell,.board-cell-info{
	display:inline-block;
	width:8%;
	padding-top:8%;
	position:relative;
	margin-right:2px;
	box-sizing:content-box;
	border:2px solid rgba(0,0,0,0);
}

.board-cell::before,.board-cell-info::before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background:red;
	top:0px;
	left:0px;
	background:url('1.png');
}

.board-cell-info::before{
	content:attr(data-info);
	background:transparent;
	font-weight:900;
}

.board-cell.shipA::before,.board-cell.shipB::before,.board-cell.shipC::before,.board-cell.shipD::before,.board-cell.shipE::before{
	content:"■";
	font-size: 2em;
    line-height: 100%;
}

.board-cell.shipA{
	border-color:#FF5722;
}
.board-cell.shipB{
	border-color:#1B5E20;
}
.board-cell.shipC{
	border-color:black;
}
.board-cell.shipD{
	border-color:#E91E63;
}
.board-cell.shipE{
	border-color:#FFEB3B;
}

.board-cell.shipA::before{
	color:#FF5722;
}
.board-cell.shipB::before{
	color:#1B5E20;
}
.board-cell.shipC::before{
	color:black;
}
.board-cell.shipD::before{
	color:#E91E63;
}
.board-cell.shipE::before{
	color:#FFEB3B;
}

.board-cell.selectable{
	cursor:pointer;
}
.board-cell.shotable{
	cursor:crosshair;
}

.board-cell.shot{
	
}

.board-cell.missed{
	
}

.board-cell.shot.shipDestroyed{
	
}

.board-cell.shot.shipDestroyed.shipA{
	
}
.board-cell.shot.shipDestroyed.shipB{
	
}
.board-cell.shot.shipDestroyed.shipC{
	
}
.board-cell.shot.shipDestroyed.shipD{
	
}
.board-cell.shot.shipDestroyed.shipE{
	
}


.board-row{
	text-align:center;
	margin-bottom:2px;
	display:flex;
	justify-content:center;
}
.board-row::selection{
	background:white;
}